.searchCarousel{
  margin-bottom: -100px;
}
.imgCarousel{
  height: 850px;
}

.tinyCarouselTitle{
  text-align: center;
  margin-bottom: 10px;
}
.tinyCarousel{
  width: 100%;
  height: 280px;
}

.tinyCarouselPrice{
  color: white;
}

@media only screen and (max-width: 600px) {
  .searchCarousel{
    margin-bottom: 10px;
  }
  .imgCarousel{
    height: 550px;
  }
}


/* Box display */

.imageBox{
  height: 320px;
  width: 220px;
}

.addContentImg{
  width: 100%;
  height: 100%;
}

.boxAddContent input{
  width: 100%;
}

.boxAddContent{
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5px;
}

.boxAddContent p{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -2px;
}

.boxAddContent button{
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  background-color: #ea5455;
  border-radius: 10px;
  color: white;
}

.boxAddContent button:hover{
  background-color: var(--vermelho);
}


/* Carousel */

.borderCarousel{
  border: solid 1px lightgray;
}
.carrousel-filmes{
  margin-top: 5px;
  margin-bottom: 10px;
}
.titleSeries{
  margin-left: 2%;
}
.box-cityImage{
  height: 420px;
  width: 100%;
  display: block;
}

.box-cityTitle{
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.postContent{
  text-align: justify;
  padding: 0 10px;
}
.horizontalLine{
  width: 50%;
}

.backgroundPriceHotel{
  background-color: #9fa5b6;

}
.hotelStars{
  background-color:#d6e0f0;
  text-align: center;
}

.hotelPrice{
  text-align: center;
  width: 100%;
}

.hotelPrice:hover{
  font-weight: bold;
  text-decoration: underline;
}


.buttonHotelCheck{
  width: 100%;
  background-color:#bbe1fa;
  border: none;
  text-transform: uppercase;
}

.buttonHotelCheck:hover{
  background-color: #0f4c75;
  color: white;
}