<%- include('./baseTemplate/header'); %>


<div class="container">

  <div class="row boxAddContent">
    
    <div class="col-lg-6">
      <section class="addContentImg" style="background: url(https://images.unsplash.com/photo-1503891450247-ee5f8ec46dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) no-repeat center center / cover"></section>
    </div>
    <div class="col-lg-6">

      <h1>Adding Content</h1>
      
      <form action="/postcontent" method="POST">
      
        <div class="form-group">
          
          <p>City Name:</p>
          <input type="text" name="cityName">
      
          <p>Country:</p>
          <input type="text" name="countryName">
      
          <p>Price per day:</p>
          <input type="text" name="price">
      
          <p>Cover Image url:</p>
          <input type="text" name="coverImage">
      
          <p>Background Image url:</p>
          <input type="text" name="backgroundImage">

          <p>Content:</p>
          <textarea name="content" id="" cols="57" rows="6"></textarea>
      
          <p>Hotel Stars</p>
          <input type="text" name="hotelStar">
      
      
        </div>
      
        <button class="buttonSubmitPost" type="submit">Post Content</button>
      
      </form>
    </div>


    
  </div>
</div>


<%- include('./baseTemplate/footer'); %>