<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="/style/customCarousel.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  
    <link rel="stylesheet" href="/style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/style/owl/owl.theme.default.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/d45b7ae9b8.js" crossorigin="anonymous"></script>

  <title>Travel Agency</title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">TRAVEL AGENCY </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/">Destination</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/">Promotions</a>
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/postcontent">Post Content</a>
              </li>
          </ul>
      </div>
  </nav>
  </header>